---
// Importation du composant Icon pour afficher des icônes
import Icon from './Icon.astro';

// Section contenant des boîtes de compétences avec des icônes
---

<section class="box skills">
	
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Développeur full-stack</h2>
		<p>Mon intérêt se porte avec passion sur le back-end et le front-end, en mettant en avant des langages tels que Python, JavaScript et TypeScript. J'estime que l'exploration d'autres langages contribuera à ma polyvalence et à mon développement complet dans le domaine. </p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Travail de groupe</h2>
		<p>Collaborer en équipe apporte avant tout une dimension plus plaisante, engendrant des bénéfices substantiels même s'ils ne se manifestent pas toujours immédiatement..</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Objectif</h2>
		<p>Fort de grandes ambitions en tant que développeur, je suis capable de conceptualiser les projets de manière plus approfondie afin de leur conférer une meilleure structure.</p>
	</div>
</section>


<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
